# SPDX-FileCopyrightText: NVIDIA CORPORATION & AFFILIATES
# Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: GPL-2.0-only OR BSD-3-Clause

# The below rules contains sysfs attributes, related to Mellanox thermal
# control. These rules are supposed to catch the following attributes,
# related to the next components: ASIC and port thermal zone mode, cooling
# device current state,  statues of hot-pluggable devices, FAN faults, port
# temperature fault, system ambient temperatures.
# When trigger is matched, rule related data is to be passed to the event
# handler.
# This rules file is meant for highest priority udev events, included in hw-mgmt package.

# EEPROM
SUBSYSTEM=="i2c", KERNEL=="*-005[0-7]", ACTION=="add", RUN+="/usr/bin/hw-management-chassis-events.sh add eeprom %S %p"
SUBSYSTEM=="i2c", KERNEL=="*-005[0-7]", ACTION=="remove", RUN+="/usr/bin/hw-management-chassis-events.sh rm eeprom %S %p"
