########################################################################
# Copyright (c) 2017 Mellanox Technologies.
# Copyright (c) 2017 Vadim Pasternak <vadimp@mellanox.com>
#
# Licensed under the GNU General Public License Version 2
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#

# PSU cables
SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0059", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh psu1 %p %k %S %n"
SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0059", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh psu1 %p %k %S %n"

SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0058", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh psu2 %p %k %S %n"
SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0058", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh psu2 %p %k %S %n"

SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0059", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh psu1 %p %k %S %n"
SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0059", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh psu1 %p %k %S %n"

SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0058", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh psu2 %p %k %S %n"
SUBSYSTEM=="i2c", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0058", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh psu2 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0059/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu1 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0059/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu1 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0058/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu2 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-10/10-0058/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu2 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0059/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu1 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0059/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu1 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0058/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu2 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/lpci2c/i2c-1/i2c-4/4-0058/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu2 %k %S %n"

# EEPROM PSU
SUBSYSTEM=="i2c", KERNEL=="4-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="4-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu2 %S %p"

SUBSYSTEM=="i2c", KERNEL=="4-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="4-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu1 %S %p"

SUBSYSTEM=="i2c", KERNEL=="10-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="10-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu2 %S %p"

SUBSYSTEM=="i2c", KERNEL=="10-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="10-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu1 %S %p"

# EEPROM FAN
SUBSYSTEM=="i2c", KERNEL=="11-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="11-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan1 %S %p"

SUBSYSTEM=="i2c", KERNEL=="12-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="12-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan2 %S %p"

SUBSYSTEM=="i2c", KERNEL=="13-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan3 %S %p"
SUBSYSTEM=="i2c", KERNEL=="13-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan3 %S %p"

SUBSYSTEM=="i2c", KERNEL=="14-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan4 %S %p"
SUBSYSTEM=="i2c", KERNEL=="14-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan4 %S %p"
