########################################################################
# Copyright (c) 2017 Mellanox Technologies.
# Copyright (c) 2017 Vadim Pasternak <vadimp@mellanox.com>
#
# Licensed under the GNU General Public License Version 2
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#

# PSU cables
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-10/10-0059/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu1 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-10/10-0059/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu1 red %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-10/10-0058/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu2 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-10/10-0058/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu2 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-4/4-0059/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu1 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-4/4-0059/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu1 %p %k %S %n"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-4/4-0058/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add psu2 %p %k %S %n"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-4/4-0058/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm psu2 %k %S %n"

# EEPROM system
SUBSYSTEM=="i2c", KERNEL=="8-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_vpd %S %p"
SUBSYSTEM=="i2c", KERNEL=="8-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_vpd %S %p"

# EEPROM system
SUBSYSTEM=="i2c", KERNEL=="16-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_cpu %S %p"
SUBSYSTEM=="i2c", KERNEL=="16-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_cpu %S %p"

# EEPROM PSU
SUBSYSTEM=="i2c", KERNEL=="4-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="4-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu1 %S %p"

SUBSYSTEM=="i2c", KERNEL=="4-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="4-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu2 %S %p"

SUBSYSTEM=="i2c", KERNEL=="10-0051", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="10-0051", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu1 %S %p"

SUBSYSTEM=="i2c", KERNEL=="10-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_psu2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="10-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_psu2 %S %p"

# EEPROM FAN
SUBSYSTEM=="i2c", KERNEL=="11-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan1 %S %p"
SUBSYSTEM=="i2c", KERNEL=="11-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan1 %S %p"

SUBSYSTEM=="i2c", KERNEL=="12-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan2 %S %p"
SUBSYSTEM=="i2c", KERNEL=="12-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan2 %S %p"

SUBSYSTEM=="i2c", KERNEL=="13-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan3 %S %p"
SUBSYSTEM=="i2c", KERNEL=="13-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan3 %S %p"

SUBSYSTEM=="i2c", KERNEL=="14-0050", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add eeprom_fan4 %S %p"
SUBSYSTEM=="i2c", KERNEL=="14-0050", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm eeprom_fan4 %S %p"

# LED
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan1:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan2:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan3:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan4:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan5:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:fan6:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu1:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:orange", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:psu2:orange", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:status:green", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:status:green", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:status:red", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:status:red", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:status:amber", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:status:amber", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

SUBSYSTEM=="leds", KERNEL=="mlxreg:uid:blue", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add led %S %p %k"
SUBSYSTEM=="leds", KERNEL=="mlxreg:uid:blue", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm led %S %p %k"

# Voltage controllers ucd924, tps53679
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0027/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add voltmon1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0027/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm voltmon1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0041/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add voltmon2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0041/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm voltmon2 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0070/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add voltmon1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0070/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm voltmon1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0071/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add voltmon2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-5/5-0071/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm voltmon2 %S %p"

# Ambient temperature lm75, tmp102
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-004a/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-004a/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004a/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004a/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004b/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004b/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-17/17-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-17/17-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

# Core temperature
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/coretemp.0/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add cputemp %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/coretemp.0/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm cputemp %S %p"

# IIO (max1363)
SUBSYSTEM=="iio", KERNEL=="iio:device0", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add a2d %S %p %k"
SUBSYSTEM=="iio", KERNEL=="iio:device0", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm a2d %S %p %k"

SUBSYSTEM=="iio", KERNEL=="iio:device1", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add a2d %S %p %k"
SUBSYSTEM=="iio", KERNEL=="iio:device1", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm a2d %S %p %k"

# ASIC - FAN and temperature
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add asic %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm asic %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add fan %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm fan %S %p"

# ASIC - QSFP
SUBSYSTEM=="i2c", KERNEL=="2-0048", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add qsfp %S %p"
SUBSYSTEM=="i2c", KERNEL=="2-0048", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm qsfp %S %p"

# Thermal zones (ASIC, CPU core, ACPI)
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone2", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone2", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone4", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone4", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone5", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone5", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"

# Hotplug devices statuses
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add hotplug %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm hotplug %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ATTR{asic1}=="2" ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change hotplug_asic up %S %p
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ATTR{asic1}!="2" ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change hotplug_asic down %S %p

# Register space attributes
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-io/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add regio %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-io/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm regio %S %p"

# CPLD FAN
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-fan/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add fan %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-fan/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm fan %S %p"
