[Unit]
Description=Thermal control service (ver x.x) of Nvidia systems
After=hw-management.service
Requires=hw-management.service
PartOf=hw-management.service
Documentation=man:hw-management-tc.service(8)

StartLimitIntervalSec=1200
StartLimitBurst=15

[Service]
ExecStart=/usr/bin/hw_management_tc_launcher.sh
ExecStopPost=/usr/bin/hw-management-tc-stop-post.sh
TimeoutStopSec=10

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
