#!/usr/bin/make -f

pname:=hw-management

KVERSION ?= $(shell uname -r)
K_SRC ?= "/lib/modules/$(KVERSION)/build"

pwd=$(shell pwd)

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	@echo Building for chassis $(KVERSION)
	make -C $(K_SRC) M=$(pwd)

override_dh_auto_install:
	dh_installdirs -p$(pname)  lib/modules/$(KVERSION)/$(INSTALL_MOD_DIR)
	cp *.ko           debian/$(pname)/lib/modules/$(KVERSION)/$(INSTALL_MOD_DIR)
	dh_installdirs -p$(pname)  etc/mlnx
	cp usr/etc/mlnx/*  debian/$(pname)/etc/mlnx
	dh_installdirs -p$(pname)  usr/sbin
	cp usr/usr/sbin/* debian/$(pname)/usr/sbin
