#!/usr/bin/make -f

pname:=hw-management

pwd=$(shell pwd)

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	dh_installdirs -p$(pname) etc/modprobe.d
	cp usr/etc/modprobe.d/* debian/$(pname)/etc/modprobe.d
	dh_installdirs -p$(pname) etc/modules-load.d
	cp usr/etc/modules-load.d/* debian/$(pname)/etc/modules-load.d
	dh_installdirs -p$(pname) etc/mlnx
	cp usr/etc/mlnx/* debian/$(pname)/etc/mlnx
	dh_installdirs -p$(pname) etc/init.d
	cp usr/usr/bin/hw-management.sh debian/$(pname)/etc/init.d/hw-management
	dh_installdirs -p$(pname) usr/bin
	cp usr/usr/bin/* debian/$(pname)/usr/bin
	dh_installdirs -p$(pname) lib/udev/rules.d/
	cp usr/lib/udev/rules.d/* debian/$(pname)/lib/udev/rules.d/

override_dh_installinit:
	dh_installinit
