[Unit]
Description=Thermal control and chassis management for Mellanox systems

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c "/usr/bin/hw-management.sh start"
ExecStop=/bin/sh -c "/usr/bin/hw-management.sh stop"
PIDFile=/var/run/hw-management.pid

[Install]
WantedBy=multi-user.target
Wants=tmp.mount
After=systemd-tmpfiles-setup.service
